<section class="module parallax parallax-4">
</section>
<div class="container" id="contact_stuff">
	<table>
		<tr>
			<td>
				<h1>Location & Hours</h1>
				<p>36-1, Jalan USJ 10/1, Taipan Business Centre,<br>47620 Subang Jaya, Selangor,<br>Malaysia.</p>
				<br>
				<p>Open Monday to Sunday 11am to 11pm</p>
				<br>
				<p><b>For Reservations:</b> Call 017-3527250</p>
			</td>
			<td><%= render 'form' %></td>
		</tr>
	</table>
</div>

